{% extends 'base.html.twig' %}

{% block title %}Edit Feed{% endblock %}

{% block body %}
<main class="container">
    <div class="row">
        <div>
            <h1 class="pb-4 mb-4 border-bottom">Edit Feed</h1>

            {{ include('feed/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="btn btn-primary" href="{{ path('app_feed_index') }}">back to list</a>

            {{ include('feed/_delete_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
