{% extends 'base.html.twig' %}

{% block title %}My Feeds{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div>
                <h1 class="pb-4 mb-4 border-bottom">My Feeds</h1>
    
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Active</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'feed/list.html.twig' with { feeds: feeds } %}
                    </tbody>
                </table>

                <a href="{{ path('app_feed_new') }}" class="btn btn-primary">Create new</a>

            </div>
        </div>
    </main>
{% endblock %}
